<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link href="<%= mix(`/assets/styles/${slug}.css`) %>" rel="stylesheet" />
  <link href="<%= mix('/favicon.ico') %>" rel="icon" />
  <title><%= title %></title>
</head>
<body>
  <%- webpackCompilation.assets[`assets/sprites/${slug}.svg`].source() %>
