<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block head
    link(rel="stylesheet", href=mix('/assets/css/app.css'))
  body
    block content
    script(src=mix('/assets/js/app.js'))
